.background-one{
  background-image: url("../css/img/back1.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.background-two{
  background-image: url("../css/img/back2.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.background-three{
  background-image: url("../css/img/back3.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.background-four{
  background-image: url("../css/img/back4.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.background-five{
  background-image: url("../css/img/back5.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}



.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  margin: 10px;
  flex:1 100% ;
  border-radius:10px;
}

.header{
  background: tomato;
  height: 120px;
}

.footer{
  background: lightgreen;
  height: 80px;
  font-size: 30px;
}
.main{
  text-align: left;
  background: deepskyblue;
  height: 300px;
  font-size: 24px;
  overflow:hidden;
}

.aside1{
  background-color: gold;
}
.aside2{
  background-color: hotpink;
}
@media all and (min-width: 800px){
  .main{
    flex:3;
  }


  .aside1{
    order: 1;
  }
  .aside2{
    order: 2;
  }
  .main{
    order: 2;
  }
  .footer{
    order: 4;
  }
}
@media all and (min-width : 600px){
  .aside{
    flex:1;
  }
}